html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

a {
	color: var(--text-main-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--text-main-color);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

/******************************************************************************************************************/

/* Colors and fonts */

:root {
	/* ***************** Colors ***************** */
	--black: #000000;
	--white: #ffffff;
	--silver: #c4c4c4;
	--jelly-bean: #22798e;
	--cloud-burst: #1D3040;
	--french-gray: #BFC2C7;
	/* ***************** Color Categories ***************** */
	--text-main-color: var(--black);
	--text-secondary-color: var(--white);
	--background-main-color: var(--white);
	--background-secondary-color: var(--cloud-burst);
	--background-alternate-color: var(--silver);
	/* ***************** Fonts ***************** */
	--headings-font: "Quattrocento", serif;
	--text-font: "Jost", sans-serif;
	/* ***************** Paddings & Margins ***************** */
	--general-padding: 0 10%;
	--general-mobile-padding: 0 5%;
}

/* Body */

body {
	font-family: var(--text-font), -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	scroll-behavior: smooth;
}

:root {
	margin: 0;
}

body::-webkit-scrollbar {
	width: 15px;
}

body::-webkit-scrollbar-track {
	background-color: var(--background-main-color);
	;
	border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
	background-color: var(--background-alternate-color);
	border: 3px solid transparent;
	border-radius: 9px;
	/* height: 87px; */
	background-clip: content-box;
}

/* Box sizing */

*, *:before, *:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

/* Headings */

h1, h2, h3, h4 {
	font-family: var(--headings-font);
}

h2 {
	font-size: 2rem;
}

/* Images */

img {
	max-width: 100%;
}

/* Visibility */

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
	.hidden-xs {
		display: none !important;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
	.hidden-sm {
		display: none !important;
	}
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {}